@import './../../scss/variable.scss';
@import './../../scss/responsive.scss';

.table {
  th {
    width: 250px;
  }
  td,
  th {
    text-align: left;
  }
}
.about-content {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
  :nth-child(1) {
    flex-basis: 15%;
  }
  :nth-child(2) {
    flex-basis: 85%;
  }
}

.main-content {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 10px;
}
@media screen and (max-width: 768px) {
  .table th {
    max-width: 200px;
  }
}
.side-time-line {
  display: block;
  // @include cardShow();
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.process-bar {
  margin: 0 auto;
  background: var(--main-bg-color);
  width: 20px;
  border-radius: 50px;
  position: relative;
  @include Input();
  .process-line {
    width: calc(100% - 4px);
    border: 1px solid #333;
    border-radius: 50px;
    content: '';
    position: absolute;
    background-color: var(--main-hover-color);
    left: 2px;
    top: 2px;
  }
}
.main-skill {
  transition: all 0.2s ease-in-out;
  scroll-snap-align: start;
}
.transition-non {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
}
.transition-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
