@import './../../scss/variable.scss';
@import './../../scss/responsive.scss';

input.form-control[type='search'] {
  @include Input();
  transition: all 0.3s linear;
  border-radius:50px;
  &:focus {
    border-color: var(--main-hover-color);
  }
}
button[type='submit'] {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--main-text-color);
  border: none !important ;
  border-color: inherit;
  outline: none !important;
  &:active,
  &:focus {
    color: var(--main-hover-color);
    border: none;
  }
}
