// $primary-color: #fff;
// $gray: #eee;
// $purple: #ffe8fc;
// $blue: #0d6efd;
// $yellow: #ffe391;
// $dark: gray;
// $hover: rgb(233, 233, 233);
// @mixin cardShow {
//   border-top:1px solid var(--border-primary-color);
//   border-left: 1px solid var(--border-primary-color);
//   border-bottom: 1px solid var(--border-second-color);
//   border-right: 1px solid  var(--border-second-color);
//   box-shadow: -3px -3px 8px 3px var(--shadow-primary-color), 5px 5px 10px -4px var(--shadow-second-color);
// }
@import './../../../scss/variable.scss';
@import './../../../scss/responsive.scss';

.content {
  @include cardShow();
  min-height: 100vh;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border-radius: 12px;
  // border: 1px solid #eee;
  margin: 15px 0;
  padding: 20px 10px;
  display:block;
  img {
    width:auto;
    max-width: 100%;
  }
}
