.show {
  visibility: visible;
  z-index: 1;
}
.side-bar {
  width: 250px;
  background: #333;
  height: 100vh;
  box-shadow: 15px 0px 0 0 #0089ba;
  ul {
    list-style-type: none;
    margin: 0;
    height: auto;
    padding: 20px 0 0 10px;
    li {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-align: left;
        color: #eee !important;
        padding: 8px 16px;
        width: 100%;
        position: relative;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin: 15px 0;
        &:hover {
          background: #0089ba;
        }
        &:hover:before {
          position: absolute;
          height: 30px;
          width: 30px;
          top: 0;
          right: 0;
          background: transparent;
          content: '';
          transform: translateY(-100%);
          border-radius: 50px;
          box-shadow: 15px 15px 0 0 #0089ba;
        }
        &:hover:after {
          position: absolute;
          height: 30px;
          width: 30px;
          bottom: 0;
          right: 0;
          background: transparent;
          content: '';
          transform: translateY(100%);
          border-radius: 50px;
          box-shadow: 15px -15px 0 0 #0089ba;
        }
      }
      .active {
        background: #0089ba;
        &:before {
          position: absolute;
          height: 30px;
          width: 30px;
          top: 0;
          right: 0;
          background: transparent;
          content: '';
          transform: translateY(-100%);
          border-radius: 50px;
          box-shadow: 15px 15px 0 0 #0089ba;
        }
        &:after {
          position: absolute;
          height: 30px;
          width: 30px;
          bottom: 0;
          right: 0;
          background: transparent;
          content: '';
          transform: translateY(100%);
          border-radius: 50px;
          box-shadow: 15px -15px 0 0 #0089ba;
        }
      }
    }
  }
}
