@import './../../../scss/variable.scss';
@import './../../../scss/responsive.scss';
.main-cate {
  @include cardShow();
  display:flex;
  flex-wrap: wrap;
  position:relative;
  .cate-img {
      width: 30%;
  }
  .cate-content {
      width:70%;
      text-align:left;
  }
  
}
