header {
  nav.dashboard {
    position: relative;
    background: #0089ba;
    z-index: 999;
    color: #eee;
    display: flex;
    .navbar-brand {
      a {
        padding: 8px 12px;
      }
    }
    .navbar-profile {
      a {
        padding: 8px 12px;
      }
    }
    .navbar-search {
      max-width: 450px;
      width: 100%;
      position: relative;

      input {
        outline: none;
        width: 100%;
        padding: 6px 20px;
        border-radius: 99px;
        background-color: rgba(184, 184, 184, 0.2) !important;
      }
      button {
        position: absolute;
        right: 10px;
        top: 0;
        padding: 4px 4px;
      }
    }
  }
}
