$primary-color: #fff;
$gray: #eee;
$purple: #ffe8fc;
$blue: #0d6efd;
$yellow: #ffe391;
$dark: gray;
$hover: rgb(233, 233, 233);

@mixin cardShow {
  transition: all 0.2s ease-in-out;
  border-top:1px solid var(--border-primary-color);
  border-left: 1px solid var(--border-primary-color);
  border-bottom: 1px solid var(--border-second-color);
  border-right: 1px solid  var(--border-second-color);
  box-shadow: -3px -3px 8px 3px var(--shadow-primary-color), 5px 5px 10px -4px var(--shadow-second-color);
}

.list-group  {
  @include cardShow();
  // background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: Relative;
  .list-group-item {
    padding: 0;
    border: none;
    background: var(--main-bg-color);
    &:not(.active) {
      border-top: 1px solid var(--border-second-color);
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(187, 187, 187, 0.5);
    }
  }
  .active {
     background:  var(--main-hover-color);
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    width: 100%;
    color: var(--main-text-color);
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    &:hover {
      background: var(--main-hover-color);
    }
  }
}
.layout-icon {
  color: var(--main-text-color);
}
.image-container {
  border-top:2px solid var(--border-primary-color);
  border-left: 2px solid var(--border-primary-color);
  border-bottom: 2px solid var(--border-second-color);
  border-right: 2px solid  var(--border-second-color);
  border-radius:12px;
}