$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $SM +1) and (max-width: $XL) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}

.animate-css-front-end {
  background: linear-gradient(#2b1055, #7597de);
  position: relative;
  overflow: hidden;
  // transform: perspective(3d);
  // perspective: 600px;
  height: 200vh;
  @include Responsive(SM) {
    height: 200vh;
  }
  @include Responsive(XS) {
    height: 200vh;
  }
  img {
    width: 100%;
  }
  #stars {
    height: 100%;
    object-fit: contain;
    animation: rotation 60s linear infinite;
  }
  .moon {
    mix-blend-mode: screen;
    position: absolute;
    top: 0px;
    left: -50%;
    transform: translate(0%, -50%);
    // animation: loadingggg 25s linear infinite;
    @include Responsive(SM) {
      top: 0;
      left: -50%;
    }
    @include Responsive(XS) {
      top: 0;
      left: -150%;
      transform: translate(100%, 100%);
    }
  }
  #mountains_behind {
    bottom: 0;
    top: initial;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  #mountains_front {
    position: absolute;
    left: 0;
    bottom: 0;
    top: initial;
    z-index: 2;
  }
  .animate-content {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, 0%);
    width: 100%;
    h2 {
      font-size: 6vw;
      color: var(--primary-color);
      text-transform: uppercase;
      opacity: 1;
    }
    a {
      opacity: 0;
      text-decoration: none;
      display: inline-block;
      padding: 8px 20px;
      background: var(--primary-color);
      border-radius: 40px;
      margin: 20px;
      font-size: 1.4rem;
      color: #2b1055;
      z-index: 10000;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: var(--main-hover-color);
      }
    }
  }
}
@keyframes loadingggg {
  from {
    transform: translate(-50%, -40%);
  }
  to {
    transform: translate(50%, 50%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
  img {
    width: 100%;
  }
}
