@import './../../scss/variable.scss';
@import './../../scss/responsive.scss';

.footer {
  margin-top: 20px;
  padding: 20px 12px;

  // border-top: 1px solid #bbb;
  background: var(--second-bg-color);
  box-shadow: 0 0px 5px -3px #333;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .footer-left,
  .footer-right {
    ul {
      height: 100%;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      width: 100%;
      a {
        display: block;
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 100%;
        cursor: pointer;
        background: transparent;
        color: var(--main-text-color);
        &:hover {
          background: var(--main-hover-color);
        }
      }
    }
  }
  .footer-divide {
    @include cardShow();
    width: 1px;
    height: 100%;
  }

  // Scroll top
  .scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    @include cardShow();
    background: var(--main-bg-color);
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    &:hover {
      opacity: 1;
    }
    span {
      font-size: 1.3rem;
    }
  }
}
.footer-copy-right {
  margin-top: 20px;
  p {
    color: var(--main-text-color);
  }
}
