@import './../../../scss/variable.scss';
@import './../../../scss/responsive.scss';
.animate-css-front-end {
  background: linear-gradient(#2b1055, #7597de);
  position: relative;
  overflow: hidden;
  // height: 200vh;.
  display:flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(20vh);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .section-1 {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
    min-height: 200vh;
    height: auto;
    display: block;
    position: relative;
    &:before {
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 100px;
      background: linear-gradient(to top, rgba(51, 27, 69, 1), transparent);
      z-index: 999;
    }
  }
  @include Responsive(SM) {
    // height: 200vh;
    .animate-content a {
      margin: 5px;
      padding: 6px 20px;
    }
    .moon {
      top: 0;
      left: -50%;
    }
  }
  @include Responsive(XS) {
    // height: 200vh;
    .moon {
      top: 0;
      left: -150%;
      transform: translate(100%, 100%);
    }
  }
  img {
    width: 100%;
  }
  #stars {
    height: 100%;
    object-fit: contain;
  }
  #moon {
    mix-blend-mode: screen;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100px;
    width: 100px;
    // transform: translate(0%, -50%);

    // @include Responsive(SM) {
    //   top: 0;
    //   left: -50%;
    // }
    // @include Responsive(XS) {
    //   top: 0;
    //   left: -150%;
    //   transform: translate(100%, 100%);
    // }
  }
  .moon {
    mix-blend-mode: screen;
    position: absolute;
    top: 0px;
    left: -50%;
    transform: translate(0%, -50%);

    @include Responsive(SM) {
      top: 0;
      left: -50%;
    }
    @include Responsive(XS) {
      top: 0;
      left: -150%;
      transform: translate(100%, 100%);
    }
  }
  #mountains_behind {
    bottom: 0;
    top: initial;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  #mountains_front {
    position: absolute;
    left: 0;
    bottom: 0;
    top: initial;
    z-index: 2;
  }
  .mainAnimatedClass {
    z-index: 3 !important;
  }
  .animate-content {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, 0%);
    width: 100%;
    h2 {
      font-size: 30px;
      color: var(--primary-color);
      text-transform: uppercase;
      opacity: 1;
      text-shadow: 1px 1px 5px #333;
    }
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 20px;
      background: var(--primary-color);
      border-radius: 40px;
      margin: 20px;
      font-size: 1.4rem;
      color: #2b1055;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: var(--main-hover-color);
      }
    }
  }
  .section-2 {
    scroll-snap-align: start;
    background: linear-gradient(rgba(51, 27, 69, 1), #000);
    height: auto;
    width: 100%;
    padding: 100px 50px;
    justify-content: space-around;
    display: flex;
    // align-items: center;
    z-index: 9;
    position: relative;
    .section-left {
      transform: translateY(-50px);
      width: 50%;
      h3,
      ~ .section-right h3 {
        color: var(--primary-color);
        margin: 0;
      }
      p {
        color: var(--primary-color);
        text-align: left;
      }
    }
    .section-right {
      transform: translateY(-70px);
      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
          a {
            padding: 0 20px;
            font-size: calc(1.3rem + 0.6vw);
            color: var(--primary-color);
            cursor: pointer;
            &:hover {
              color: var(--main-hover-color);
            }
          }
        }
      }
    }
    @include Responsive(SM) {
      flex-direction: column;
      .section-left {
        width: 100%;
      }
    }
    @include Responsive(XS) {
      .section-right {
        width: 100%;
      }
    }
  }
}
@keyframes loadingggg {
  from {
    transform: translate(-50%, -40%);
  }
  to {
    transform: translate(50%, 50%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// section {
//   position: relative;
//   width: 100%;
//   min-height: 100vh;
//   overflow-x: hidden;
//   background: linear-gradient(#2b1055, #7597de);
//   img {
//     width: 100%;
//   }
// }
