.App {
  text-align: center;
  /* background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center; */
  background:linear-gradient(#eee, rgb(220, 250, 255) );
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color:inherit;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}
.card {
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.7);
  padding: 12px;
  flex-basis: 40%;
  max-width: calc((100% - 12px) / 2);
  margin: 8px;
  max-width: 350px;
  width: auto;
  border-radius: 5px;
  position: relative;
  max-height: 300px;
  min-height: 250px;
  transition: 0.2s linear;
}
.action {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.action .btn {
  color: #333;
  text-decoration: none;
  outline: none;
  border: none;
  float: left;
  /* background-color: rgb(233, 233, 233); */
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}
.content {
  text-align: left;
}
.title {
  text-align: left;
  font-weight: 300;
}

.card:hover {
  box-shadow: 0 10px 15px -12px black;
  border: 1px solid rgb(201, 201, 201);
}
