@import './../../../scss/variable.scss';
@import './../../../scss/responsive.scss';
input.login-input {
  @include Input();
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--border-second-color);
}
.input-group {
  // @include cardShowmini();
  // @include Input();
  span {
    border: 1px solid var(--border-second-color);
    background-color: var(--main-bg-color) !important;
    color: var(--main-text-color);
  }
}
form {
  position: relative;
  @include cardShow();
  padding: 15px;
  span.form-return {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: var(--main-hover-color);
    }
  }
  .btn-group {
    a {
      align-self: center;
      cursor: pointer;
      &:hover {
        @extend .hover-text;
      }
    }
    justify-content: center;
    button {
      @extend .hover-text;
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--main-text-color);
      border: none !important;
      border-color: inherit;
      outline: none !important;
    }
  }
}
.submit-form {
  background-color: transparent;
  color: var(--main-text-color);
}
